<!DOCTYPE html>
<html>
  <head>
    <title>REST Tester</title>
    <script src="/js/underscore-min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript">
      jQuery(document).ready(function() {
        $('.rest-test').on('click', function() {
          var numRequests = Math.max(Math.min($('#requests').val() || 50, 100), 1),
              button = $(this).prop('disabled', true),
              type = button.data('verb'),
              options = {
                type: type,
                cache: false,
                timeout: 15000
              },
              requests = [],
              start = +new Date();

          if(type !== 'get') {
            options['contentType'] = 'application/json';
            options['dataType'] = 'json';
            options['data'] = $('#payload').val();
          }

          var processRequests = _.after(numRequests, function() {
            $.when.apply(null, requests)
              .done(function() {
                var status = (arguments['1'] === 'success') ? { success: 1 } : _.chain(arguments).pluck('1').countBy(_.identity).value();
                button.removeClass('fail success').addClass(status.success == numRequests ? 'success' : 'fail');
                button.after($('<div>').text(status.success + ' requests out of ' + numRequests + ' successfully completed.'));
              }).fail(function(d, error) {
                button.removeClass('success').addClass('fail');
                button.after($('<div>').text('One or more requests failed! (' + error + ')'));
              }).always(function() {
                button.prop('disabled', false).next().after($('<div>').text('Completed test in ' + (+new Date() - start) / 1000 + ' seconds.'));
              });
          });

          for (var i = 0; i < numRequests; i++) {
            setTimeout(function() {
              requests.push($.ajax('/resources/' + type, options));
              processRequests();
            }, parseFloat($('#wait').val() || 0, 10) * 1000 * i);
          };

        });
      });
    </script>
    <style type="text/css">
      .success {
        background-color: green;
        color: white;
      }

      .fail {
        background-color: red;
        color: white;
      }
      label {
        width: 250px;
        display: inline-block;
        text-align: right;
        margin-right: 5px;
        vertical-align: top;
      }
      input[type="number"] {
        width: 50px;
      }
      textarea {
        width: 300px;
        height: 100px;
      }
      button[disabled]::before {
        content: 'Running test: ';
      }
    </style>
  </head>
  <body>
    <h1>REST Tester</h1>
    <h2>Configuration</h2>
    <label for="payload">JSON Payload: </label><textarea id="payload">{"test":true}</textarea><br>
    <label for="requests">Number of requests: </label><input id="requests" value="50" type="number" min="1" max="100"><br>
    <label for="wait">Seconds between new requests: </label><input id="wait" value="0" type="number" step="0.1" min="0"><br>
    <h2>To start a test, click on a button below.</h2>
    <button class="rest-test" data-verb="get" autocomplete="off">GET</button><br>
    <button class="rest-test" data-verb="post" autocomplete="off">POST</button><br>
    <button class="rest-test" data-verb="put" autocomplete="off">PUT</button><br>
    <button class="rest-test" data-verb="delete" autocomplete="off">DELETE</button><br>
  </body>
</html>